<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>{% block title %}Q&A{% endblock %}</title>
    <style>
        .myclass {background-color: #ffd700;}
        .header {
            background-color: grey;
            color: #ffd700;
            }
    </style>

    {% block extrahead %}{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
    <p class="alert alert-success">Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
<div class="header">
    <hr>
    <h1 align="center">Вопросы и ответы</h1>
<hr></div>

<div class="container-fluid">
    <a href="{% url 'main' %}"><button type="button" class="btn btn-default btn-lg btn-success">New</button></a>
    <a href="{% url 'popular' %}"><button type="button" class="btn btn-default btn-lg btn-warning">Popular</button></a>
    <a href="{% url 'ask' %}"><button type="button" class="btn btn-primary btn-lg active">Ask me!</button></a>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg active">Login</button></a>
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary btn-lg active">Logout</button></a>
    <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary btn-lg active">Signup</button></a>
</div>
<p></p>
{% block content %}{% endblock %}
<p></p>
</body>

<div class="container-fluid">

</div>
</html>