<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{% block title %}Q&A{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<h1 class="text-info">Вопросы и ответы</h1>
<div class="container-fluid">
    <a href="{% url 'ask' %}"><button type="button" class="btn btn-primary btn-lg">Ask me!</button></a>
</div>
<p></p>
{% block content %}{% endblock %}
<p></p>
</body>

<div class="container-fluid">
  <a href="{% url 'main' %}"><button type="button" class="btn btn-default btn-lg">New</button></a>
  <a href="{% url 'popular' %}"><button type="button" class="btn btn-default btn-lg">Popular</button></a>
</div>
</html>