{% extends "qa/base.html" %}
{% block title %}
    {{ block.super }} – главная
{% endblock %}
{% block content %}
<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
        <a href="{% url 'main' %}?page={{ p }}">
        {{ p }}</a>
        </li>
    {% endfor %}
</ul></nav>
    <div class="container-fluid">

        {% for question in questions %}
        <ul class="list-group">
            <h4><li class="list-group-item"><a href="{% url 'question' question.id %}">{{ question }}</a><span class="badge">{{ question.get_answer }}</span></li></h4>
            <p>added by {{ question.author }}</p>
        </ul>
        {% endfor %}
    </div>
<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
        <a href="{% url 'main' %}?page={{ p }}">
        {{ p }}</a>
        </li>
    {% endfor %}
</ul></nav>
{% endblock %}
