{% extends "qa/base.html" %}
{% block title %}
    {{ block.super }} – главная
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% for question in questions %}
            <p><a href="/question/{{ question.id }}/">{{ question }}</a></p>
        {% endfor %}
    </div>
<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
        <a href="{% url 'main' %}?page={{ p }}">
        {{ p }}</a>
        </li>
    {% endfor %}
</ul></nav>
{% endblock %}
