{% extends "qa/base.html" %}
{% block title %}
    {{ block.super }} – Вопрос
{% endblock %}
{% block content %}
<div class="container-fluid">
<h2>{{ title }}</h2>
<hr>
<p>{{ text }}</p>

<form class="form-horizontal" method="post" action="/answer/">
    {% csrf_token %}
     <div class="controls">{{ form }}</div>
    <button type="submit" class="btn btn-primary">Ответить</button>
</form>
<p></p>

    <h3>Ответы</h3>
    {% for answer in answers %}
    <div class="panel panel-default">
            <div class="panel-body">{{ answer }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
