{% extends "qa/base.html" %}
{% block title %}
    {{ block.super }} – Вопрос
{% endblock %}
{% block content %}
<div>
<h2>{{ title }}</h2>
<h3>{{ text }}</h3>
</div>
<form class="form-horizontal" method="post" action="/answer/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Ответить</button>
</form>
<p></p>

    <h3>Ответы</h3>
    {% for answer in answers %}
    <div class="panel panel-default">
            <div class="panel-body">{{ answer }}</div>
    </div>
    {% endfor %}


{% endblock %}
